In [ ]:
B---- for adding boxes
x----for deleting boxes 
Convert the active cell(in Green) to passive(in Blue)b
to press escape button.

In [8]:
a=10
# # a is variable to store the data/ value 10
# # To comment the things you have to enter contrl+/
# for multiple line commenting use 3 
# for executing contrl+enter or shift+enter

In [9]:
a

10

In [4]:
print(a)

10

In [ ]:
A <> a 
#python is case sensitiveb

In [6]:
#for string use quotation
print('Hello worold')

Hello worold

In [17]:
print('Your value is',10)
print('-----------------')
print('your value is ',a)

Your value is 10
-----------------
your value is  10

In [ ]:
BASICS OF DATA TYPES

In [1]:
x=4

In [2]:
print(type(x))

<class 'int'>

In [3]:
type(x)

int

In [4]:
#Exponential
print(x**2)

16

In [ ]:
#if you want to output at the last then only write the variable name
#if you want multiple output use print statement
#python always execute last line without print statement

In [10]:
#Assigment operator
#x=x+1
x +=1
x

8

In [11]:
x -=5
x

3

In [12]:
y=2.5
print(y)
type(y)

2.5

float

In [13]:
print(y+1,y*2,y**2)

3.5 5.0 6.25

In [ ]:
#Boolean Operator
#python implements all of the usual operator for boolean logic but uses english word rather than symbol(&&,|| etc)
#it returns true or false only

In [15]:
"APPLE"=="apple"

False

In [16]:
1 ==1

True

In [17]:
t,f=True,False
print(t)
print(f)

True
False

In [18]:
print(t and f) #logical and
print(t or f) #logical or
print(not t) #logical not
print(t !=f) #Not equal to

False
True
False
True

In [21]:
print(t & f)

False

In [22]:
hell="Helloooo"
war="World"
print(war)
len(hell)

World

8

In [21]:
?len

In [25]:
hw=hell+" "+war #String concatination
print(hw)

Helloooo World 12

In [27]:
s="hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))#move the string to the right side
print(s.center(7))
print(s.replace("l","(ell)"))
print(" world ".strip())#strip leading and trailing whitespaces

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [ ]:
#LIST
#order data type and  changable
#allow duplicate elements
# denoted by []
# General touble
#a=10,20 print(a) type of (a)

In [2]:
xs=[5,10,15]
print(xs)
print(xs[2])
print(xs[-3],[-2],[-1]) #Reverse acess

[5, 10, 15]
15
5 [-2] [-1]

In [3]:
#Range of indexing
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])#upto last index-1
print(thislist[:4]) #upto orange
print(thislist[2:])
print(thislist[-4:-1])#Negative Range

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [4]:
#List can contain different types of data

xs[1]="Goutam" # replace or list can modify
xs

[5, 'Goutam', 15]

In [12]:
# Add a new element to the end of the list
print(xs)
xs.append(6)
print(xs)

[5, 'Goutam', 15, 6]
[5, 'Goutam', 15, 6, 6]

In [18]:
#Reverse the list

# does not modify the original list

print(xs[::-1],"\n")  

# Original list is same
print("original list: \n")
print(xs,'\n')

# reverse the original list
print("modify the original list:\n")
xs.reverse()
print(xs,'\n')

[6, 6, 15, 'Goutam', 5]

original list:

[5, 'Goutam', 15, 6, 6]

modify the original list:

[6, 6, 15, 'Goutam', 5]

In [19]:
# print(xs)
print(xs[:-1])
print(xs[-1:])
print("Reverse is",xs[::-1])
print("step size",xs[::2])

[6, 6, 15, 'Goutam']
[5]
Reverse is [5, 'Goutam', 15, 6, 6]
step size [6, 15, 5]

In [21]:
#Remove the element from the list
xs.pop(2)#pop function take index
print(xs)

[20, 'Goutam']

In [25]:
xs.insert(1,"ghosh")
print(xs)

[20, 'ghosh', 'Goutam', 5, 'ghosh']

In [26]:
xs.remove("ghosh")#remove take value
print(xs)

[20, 'Goutam', 5, 'ghosh']

In [20]:
del xs #del delete entire list
print(xs)
xs.clear() #clear method clear the list and list size 0

NameError: name 'xs' is not defined

In [35]:
#COPY LIST YOU CAN'T COPY JUST L2=L1
xy=xs.copy()
print(xy)
print(xs)

[5, 'Goutam', 15, 5]
[5, 'Goutam', 15, 5]

In [36]:
#Join Two List 
#1st approach
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [37]:
#2nd approach

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [38]:
# 3rd method
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [40]:
thislist1 = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist1)

['apple', 'banana', 'cherry']

In [42]:
list=[1,2,3]*2
list

[1, 2, 3, 1, 2, 3]

In [54]:
#Count function
print(xs)
print(xs.count(5))#returns occurence of any number

[5, 'Goutam', 15, 5, 6]
2

In [13]:
#PERFORM ARITHMETIC OPERATION
# list compresion
L1=[1,2,3]
L2=[4,5,6]

res_list = [L1[i] + L2[i] for i in range(len(L1))]

In [57]:
print(res_list)

[5, 7, 9]

In [10]:
l4=[4,5,9]
l5=[i*i for i in l4]

In [11]:
print(l5)

[16, 25, 81]

In [26]:
z=[x for x in range(1,100) if(x%3)==0]
print(z)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

# Enumerate

In [27]:
name=["A",'B','C','D']
for index,person in enumerate(name):
    print("{} -> {}".format(index+1,person))

1 -> A
2 -> B
3 -> C
4 -> D

In [28]:
b="My name is khan"
c='is'
d=b.split()
print(d)
for i in d:
    print(i+" ")

['My', 'name', 'is', 'khan']
My
name
is
khan

In [30]:
for index,sen in enumerate(d):
    s=""
    if(c in sen):
        d[index]=c.upper()

print(" ".join(d))

My name IS khan

In [1]:
a=[1,2,3]
b=[4,5,6]

In [6]:
a.extend(b)

In [7]:
a

[1, 2, 3, [4, 5, 6], 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]